* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

@font-face {
    font-family: "font";
    src: url("font.ttf") format("truetype");
}

html {
    font-family: "font";
    background-color: #222;
}

#frame {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 16/9) {
    #frame {
        font-size: 11.111vh;
        width: 177.778vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 16/9) {
    #frame {
        font-size: 6.25vw;
        height: 56.25vw;
        width: 100vw;
    }
}

canvas {
    top: 0em;
    left: 0em;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

#you-win {
    display: none;
    padding-top: 1em;
    text-align: center;
}
